{% extends 'base.html' %}

{% block title %}
Login to continue
{% endblock %}

{% block styles %}


{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <br><br><br><br>
            <div class="custom-card">
                <div class="col-content">
                    <h4 align="center">Login</h4>
                <form method="post" action="/sign-in">
                    {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Phone number</label>
                <input type="tel" name="username" placeholder="+25078xxxxxxxx" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" placeholder="*********" class="form-control" id="exampleInputPassword1" required>
              </div>

              <button type="submit" class="btn btn-primary col-12">Login</button>
                    <br>
                    <br>
                    <a href="/register">Register your account now</a>
            </form>
            </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


{% endblock %}