{% extends 'base.html' %}

{% block title %}
{{parcel.tracking_number}}
{% endblock %}

{% block center_content %}

<br><br><br>

<div class="alert alert-secondary" role="alert">
    <div class="row">
        <div class="col-md-4">
            <div class="col-content">
                <img src="{{parcel.image.url}}" alt="{{parcel.tracking_number}}" class="img-fluid" height="100">
            </div>
        </div>

        <div class="col-md-8">
            <div class="col-content">
                <h5><b>{{parcel.tracking_number}}</b> | {{parcel.delivery_option}}</h5>

                <p>
                    <b>Dimensions</b>
                    <br>
                    Weight: {{parcel.quantity}}KG
                    <br>
                    Height: {{parcel.dimension_height}}mm
                    <br>
                    Width: {{parcel.dimension_width}}mm
                    <br>
                    Length: {{parcel.dimension_length}}mm
                </p>

                <p class="danger">
                {% if user == parcel.sender %}
                <b>Outgoing to:</b>
                <br>
                {{parcel.receiver.get_full_name}}
                <br>
                {{parcel.receiver.email}}
                <br>
                {{parcel.receiver.username}}
                <br>
                <br>
                <b>Address: {% if parcel.receiver_address %}{{parcel.receiver_address.name}}{% endif %}</b>
                <br>
                {% if parcel.receiver_address %}
                {{parcel.receiver_address.country}} | {{parcel.receiver_address.province}} |
                {{parcel.receiver_address.district}} | {{parcel.receiver_address.street}} |
                {{parcel.receiver_address.house_number}}
                {% else %}
                Pickup from the post office
                {% endif %}
                {% else %}
                <b>Incoming from:</b>
                <br>
                {{parcel.sender.get_full_name}}
                <br>
                {{parcel.sender.email}}
                <br>
                {{parcel.sender.username}}
                <br>
                <br>
                <b>Address: {% if parcel.receiver_address %}{{parcel.receiver_address.name}}{% endif %}</b>
                <br>
                {% if parcel.receiver_address %}
                {{parcel.receiver_address.country}} | {{parcel.receiver_address.province}} |
                {{parcel.receiver_address.district}} | {{parcel.receiver_address.street}} |
                {{parcel.receiver_address.house_number}}
                {% else %}
                Pickup from the post office
                {% endif %}
                {% endif %}</p>

                <p>
                    <b>Status</b>
                    <br>
                    {{parcel.status}}
                    <br>
                    <br>
                    <b>Total amount {% if parcel.is_paid %}paid{% else %}to be paid{% endif %}</b>
                    <br>
                    {{parcel.total_price}}Rwf
                </p>
            </div>
        </div>
    </div>



</div>

{% if parcel.status == "Waiting pickup" %}
<div class="alert alert-primary col-3" role="alert">
    {{parcel.status}}
</div>

{% elif parcel.status == "Checking" %}

<div class="alert alert-info col-3" role="alert">
    {{parcel.status}}
</div>

{% elif parcel.status == "On way" %}

<div class="alert alert-warning col-3" role="alert">
    {{parcel.status}}
</div>

{% elif parcel.status == "Rejected" %}

<div class="alert alert-warning col-3" role="alert">
    {{parcel.status}}
</div>

<br>
<a href="/send-mail?correct={{parcel.id}}">
    <button class="btn btn-warn">Resend</button>
</a>

{% elif parcel.status == "Delivered" %}

<div class="alert alert-success col-4" role="alert">
    {{parcel.status}} at
    <br>
    <b>{{parcel.delivered_at}}</b>
</div>
{% endif %}

<!-- flutterwave -->

{% if parcel.is_paid == False and parcel.status == 'Accepted' %}
<form>
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <button type="button" onClick="makePayment()" class="btn btn-success">Pay Now</button>
</form>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
  function makePayment() {
    FlutterwaveCheckout({
      public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X",
      tx_ref: "{{parcel.tracking_number}}",
      amount: {{parcel.total_price}},
      currency: "RWF",
      country: "RW",
      payment_options: "card, mobilemoneyrwanda",
      redirect_url: "http://localhost:8000/parcel-payment/{{parcel.tracking_number}}",
      meta: {
        consumer_id: 23,
        consumer_mac: "92a3-912ba-1192a",
      },
      customer: {
        email: "{{user.email}}",
        phone_number: "{{user.username}}",
        name: "{{user.get_full_name}}",
      },
      callback: function (data) {
        console.log(data);
      },
      onclose: function() {
        // close modal
      },
      customizations: {
        title: "Postal Office",
        description: "Payment for mail {{parcel.tracking_number}}",
        logo: "https://assets.piedpiper.com/logo.png",
      },
    });
  }

</script>
{% endblock %}