{% extends 'base-admin.html' %}

{% block title %}
Reports
{% endblock %}


{% block center_content %}


<div class="custom-ca">
    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="home" aria-selected="true">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="profile" aria-selected="false">Accepted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="waiting-tab" data-toggle="tab" href="#waiting" role="tab" aria-controls="contact" aria-selected="false">Waiting pickup</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="checking-tab" data-toggle="tab" href="#checking" role="tab" aria-controls="contact" aria-selected="false">Checking</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="way-tab" data-toggle="tab" href="#way" role="tab" aria-controls="contact" aria-selected="false">On way</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="delivered-tab" data-toggle="tab" href="#delivered" role="tab" aria-controls="contact" aria-selected="false">Delivered</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="rejected-tab" data-toggle="tab" href="#rejected" role="tab" aria-controls="contact" aria-selected="false">Rejected</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
            <br>
            <ul class="list-group">
                {% for p in waiting %}
                <li class="list-group-item">
                    <b>Tracking number: </b>{{p.tracking_number}}
                    <br>
                    <b>Quantity: </b>{{p.quantity}}Kg
                    <br>
                    <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                    <br>
                    <b>Address: </b>{{p.sender_address.name}}
                    <br>
                    <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                    <br>
                    <b>Address: </b>{{p.receiver_address.name}}
                    <br>
                    <b>Delivery option: </b>{{p.delivery_option}}
                    <br>
                    <b>Price: </b>{{p.total_price}} Rwf
                    <br>
                    <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                    <br>
                    <b>Description: </b>{{p.description}}
                    <br>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
            <br>
            <ul class="list-group">
                {% for p in accepted %}
                <li class="list-group-item">
                    <b>Tracking number: </b>{{p.tracking_number}}
                    <br>
                    <b>Quantity: </b>{{p.quantity}}Kg
                    <br>
                    <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                    <br>
                    <b>Address: </b>{{p.sender_address.name}}
                    <br>
                    <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                    <br>
                    <b>Address: </b>{{p.receiver_address.name}}
                    <br>
                    <b>Delivery option: </b>{{p.delivery_option}}
                    <br>
                    <b>Price: </b>{{p.total_price}} Rwf
                    <br>
                    <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                    <br>
                    <b>Description: </b>{{p.description}}
                    <br>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="waiting" role="tabpanel" aria-labelledby="waiting-tab">
            <br>
            <ul class="list-group">
                {% for p in waiting_pickup %}
                <li class="list-group-item">
                    <b>Tracking number: </b>{{p.tracking_number}}
                    <br>
                    <b>Quantity: </b>{{p.quantity}}Kg
                    <br>
                    <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                    <br>
                    <b>Address: </b>{{p.sender_address.name}}
                    <br>
                    <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                    <br>
                    <b>Address: </b>{{p.receiver_address.name}}
                    <br>
                    <b>Delivery option: </b>{{p.delivery_option}}
                    <br>
                    <b>Price: </b>{{p.total_price}} Rwf
                    <br>
                    <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                    <br>
                    <b>Description: </b>{{p.description}}
                    <br>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="checking-tab">
            <br>
            <ul class="list-group">
                {% for p in checking %}
                <li class="list-group-item">
                    <b>Tracking number: </b>{{p.tracking_number}}
                    <br>
                    <b>Quantity: </b>{{p.quantity}}Kg
                    <br>
                    <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                    <br>
                    <b>Address: </b>{{p.sender_address.name}}
                    <br>
                    <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                    <br>
                    <b>Address: </b>{{p.receiver_address.name}}
                    <br>
                    <b>Delivery option: </b>{{p.delivery_option}}
                    <br>
                    <b>Price: </b>{{p.total_price}} Rwf
                    <br>
                    <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                    <br>
                    <b>Description: </b>{{p.description}}
                    <br>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="way" role="tabpanel" aria-labelledby="way-tab">
            <br>
            <ul class="list-group">
                {% for p in on_way %}
                <li class="list-group-item">
                    <b>Tracking number: </b>{{p.tracking_number}}
                    <br>
                    <b>Quantity: </b>{{p.quantity}}Kg
                    <br>
                    <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                    <br>
                    <b>Address: </b>{{p.sender_address.name}}
                    <br>
                    <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                    <br>
                    <b>Address: </b>{{p.receiver_address.name}}
                    <br>
                    <b>Delivery option: </b>{{p.delivery_option}}
                    <br>
                    <b>Price: </b>{{p.total_price}} Rwf
                    <br>
                    <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                    <br>
                    <b>Description: </b>{{p.description}}
                    <br>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
            <br>
            <ul class="list-group">
                {% for p in delivered %}
                <li class="list-group-item">
                    <b>Tracking number: </b>{{p.tracking_number}}
                    <br>
                    <b>Quantity: </b>{{p.quantity}}Kg
                    <br>
                    <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                    <br>
                    <b>Address: </b>{{p.sender_address.name}}
                    <br>
                    <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                    <br>
                    <b>Address: </b>{{p.receiver_address.name}}
                    <br>
                    <b>Delivery option: </b>{{p.delivery_option}}
                    <br>
                    <b>Price: </b>{{p.total_price}} Rwf
                    <br>
                    <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                    <br>
                    <b>Description: </b>{{p.description}}
                    <br>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
            <br>
            <ul class="list-group">
                {% for p in rejected %}
                <li class="list-group-item">
                    <b>Tracking number: </b>{{p.tracking_number}}
                    <br>
                    <b>Quantity: </b>{{p.quantity}}Kg
                    <br>
                    <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                    <br>
                    <b>Address: </b>{{p.sender_address.name}}
                    <br>
                    <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                    <br>
                    <b>Address: </b>{{p.receiver_address.name}}
                    <br>
                    <b>Delivery option: </b>{{p.delivery_option}}
                    <br>
                    <b>Price: </b>{{p.total_price}} Rwf
                    <br>
                    <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                    <br>
                    <b>Description: </b>{{p.description}}
                    <br>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}