{% extends 'base.html' %}


{% block styles %}

.logout-link {
    color: white !important;
}


{% endblock %}



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="custom-ca">
                <br><br><br>
                <ul class="list-group">
                  <li class="list-group-item">
                      <a href="/users?group=Worker">Workers</a>
                  </li>
                  <li class="list-group-item">
                      <a href="/users?group=Customer">Customers</a>
                  </li>
                  <li class="list-group-item">
                          <a href="/logout">Logout</a>
                  </li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            
        </div>
    </div>
</div>
