{% extends 'base-worker.html' %}

{% block title %}
Mails Management
{% endblock %}


{% block center_content %}


<div class="custom-ca">
    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="waiting-tab" data-toggle="tab" href="#waiting" role="tab" aria-controls="contact" aria-selected="false">Waiting pickup</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="checking-tab" data-toggle="tab" href="#checking" role="tab" aria-controls="contact" aria-selected="false">Checking</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="way-tab" data-toggle="tab" href="#way" role="tab" aria-controls="contact" aria-selected="false">On way</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="delivered-tab" data-toggle="tab" href="#delivered" role="tab" aria-controls="contact" aria-selected="false">Delivered</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="waiting" role="tabpanel" aria-labelledby="waiting-tab">
            <br>
            <ul class="list-group">
                {% for p in waiting_pickup %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                        <div class="col-content">
                            <img class="img-fluid" src="{{p.image.url}}" alt="{{p.tracking_number}}">
                        </div>
                    </div>
                        <div class="col-md-8">
                        <div class="col-content">
                            <b>Tracking number: </b>{{p.tracking_number}}
                            <br>
                            <b>Quantity: </b>{{p.quantity}}Kg
                            <br>
                            <b>Dimensions: </b>{{p.dimension_height}}mm x {{p.dimension_width}}mm x {{p.dimension_length}}mm
                            <br>
                            <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                            <br>
                            <b>Address: </b>{{p.sender_address.name}}
                            <br>
                            <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                            <br>
                            <b>Address: </b>{{p.receiver_address.name}}
                            <br>
                            <b>Delivery option: </b>{{p.delivery_option}}
                            <br>
                            <b>Price: </b>{{p.total_price}} Rwf
                            <br>
                            <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                            <br>
                            <b>Description: </b>{{p.description}}
                            <br>
                            <br>
                            {% if p.is_paid %}
                            <a href="/parcel-status/{{p.id}}?status=checking">
                                <button class="btn btn-primary">Mark as picked up</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="checking" role="tabpanel" aria-labelledby="checking-tab">
            <br>
            <ul class="list-group">
                {% for p in checking %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                        <div class="col-content">
                            <img class="img-fluid" src="{{p.image.url}}" alt="{{p.tracking_number}}">
                        </div>
                    </div>
                        <div class="col-md-8">
                        <div class="col-content">
                            <b>Tracking number: </b>{{p.tracking_number}}
                            <br>
                            <b>Quantity: </b>{{p.quantity}}Kg
                            <br>
                            <b>Dimensions: </b>{{p.dimension_height}}mm x {{p.dimension_width}}mm x {{p.dimension_length}}mm
                            <br>
                            <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                            <br>
                            <b>Address: </b>{{p.sender_address.name}}
                            <br>
                            <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                            <br>
                            <b>Address: </b>{{p.receiver_address.name}}
                            <br>
                            <b>Delivery option: </b>{{p.delivery_option}}
                            <br>
                            <b>Price: </b>{{p.total_price}} Rwf
                            <br>
                            <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                            <br>
                            <b>Description: </b>{{p.description}}
                            <br>
                            <b>Picked up by: </b>{{p.picked_up_by.get_full_name}}
                            <br><br>
                            <a href="/parcel-status/{{p.id}}?status=on_way">
                                <button class="btn btn-primary">Dispatch</button>
                            </a>
                            <br>
                            <a href="/parcel-status/{{p.id}}?status=reject">
                                <button class="btn btn-warn">Reject for corrections</button>
                            </a>
                        </div>
                    </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="way" role="tabpanel" aria-labelledby="way-tab">
            <br>
            <ul class="list-group">
                {% for p in on_way %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                        <div class="col-content">
                            <img class="img-fluid" src="{{p.image.url}}" alt="{{p.tracking_number}}">
                        </div>
                    </div>
                        <div class="col-md-8">
                        <div class="col-content">
                            <b>Tracking number: </b>{{p.tracking_number}}
                            <br>
                            <b>Quantity: </b>{{p.quantity}}Kg
                            <br>
                            <b>Dimensions: </b>{{p.dimension_height}}mm x {{p.dimension_width}}mm x {{p.dimension_length}}mm
                            <br>
                            <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                            <br>
                            <b>Address: </b>{{p.sender_address.name}}
                            <br>
                            <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                            <br>
                            <b>Address: </b>{{p.receiver_address.name}}
                            <br>
                            <b>Delivery option: </b>{{p.delivery_option}}
                            <br>
                            <b>Price: </b>{{p.total_price}} Rwf
                            <br>
                            <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                            <br>
                            <b>Description: </b>{{p.description}}
                            <br>
                            <b>Picked up by: </b>{{p.picked_up_by.get_full_name}}
                            <br><br>
                            <a href="/parcel-status/{{p.id}}?status=delivered">
                                <button class="btn btn-primary">Deliver</button>
                            </a>
                        </div>
                    </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

        <div class="tab-pane fade" id="delivered" role="tabpanel" aria-labelledby="delivered-tab">
            <br>
            <ul class="list-group">
                {% for p in delivered %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                        <div class="col-content">
                            <img class="img-fluid" src="{{p.image.url}}" alt="{{p.tracking_number}}">
                        </div>
                    </div>
                        <div class="col-md-8">
                        <div class="col-content">
                            <b>Tracking number: </b>{{p.tracking_number}}
                            <br>
                            <b>Quantity: </b>{{p.quantity}}Kg
                            <br>
                            <b>Dimensions: </b>{{p.dimension_height}}mm x {{p.dimension_width}}mm x {{p.dimension_length}}mm
                            <br>
                            <b>Sender: </b>{{p.sender.first_name}} {{p.sender.last_name}}
                            <br>
                            <b>Address: </b>{{p.sender_address.name}}
                            <br>
                            <b>Receiver: </b>{{p.receiver.first_name}} {{p.receiver.last_name}}
                            <br>
                            <b>Address: </b>{{p.receiver_address.name}}
                            <br>
                            <b>Delivery option: </b>{{p.delivery_option}}
                            <br>
                            <b>Price: </b>{{p.total_price}} Rwf
                            <br>
                            <b>Is paid: </b>{% if p.is_paid %}Yes{% else %}No{% endif %}
                            <br>
                            <b>Description: </b>{{p.description}}
                            <br>
                            <b>Picked up by: </b>{{p.picked_up_by.get_full_name}}
                        </div>
                    </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No mails</li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>

{% endblock %}