<style>
    hr{
        background-color: white!important;
    }
</style>
<div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Navigation</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a href="" class="br-menu-link active">
            <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
            <span class="menu-item-label">Dashboard</span>
          </a>
        </li>

 
        <li class="br-menu-item">
          <a href="/send-mail" class="br-menu-link">
            <i class="fa fa-envelope tx-20"></i>
            <span class="menu-item-label" >Send a mail</span>
          </a>
        </li>
        <li class="br-menu-item">
            <a href="/tracking" class="br-menu-link">
              <i class="fa fa-envelope tx-20"></i>
              <span class="menu-item-label">Track your mails</span>
            </a>
          </li>
          <li class="br-menu-item">
            <a href="/addresses" class="br-menu-link">
              <i class="fa fa-users tx-20"></i>
              <span class="menu-item-label">Your addresses</span>
            </a>
          </li>
          <li class="br-menu-item">
            <a href="/profile" class="br-menu-link">
              <i class="fa fa-user tx-16"></i>
              <span class="menu-item-label">Your profile</span>
            </a>
          </li>
          <li class="br-menu-item">
            <a href="/logout" class="br-menu-link">
              <i class="fa fa-sign-out tx-16"></i>
              <span class="menu-item-label">Logout</span>
            </a>
          </li>
          </ul>
          </div>
     






       