<style>
    hr{
        background-color: white!important;
    }
</style>
<div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">Navigation</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a href="/users?group=Customer" class="br-menu-link active">
            <i class="fa fa-user tx-20"></i>
            <span class="menu-item-label">Customers</span>
          </a>
        </li>


        <li class="br-menu-item">
          <a href="/users?group=Worker" class="br-menu-link">
            <i class="fa fa-user tx-20"></i>
            <span class="menu-item-label" >Workers</span>
          </a>
        </li>
        <li class="br-menu-item">
            <a href="/new-parcels" class="br-menu-link">
              <i class="fa fa-envelope tx-20"></i>
              <span class="menu-item-label">New mails</span>
            </a>
          </li>
          <li class="br-menu-item">
            <a href="/reports" class="br-menu-link">
              <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
              <span class="menu-item-label">Reports</span>
            </a>
          </li>
          <li class="br-menu-item">
            <a href="/logout" class="br-menu-link">
              <i class="fa fa-sign-out tx-16"></i>
              <span class="menu-item-label">Logout</span>
            </a>
          </li>
          </ul>
          </div>







