<div class="br-header">
  <div class="br-header-left">
    <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a>
    </div>
    <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a>
    </div>

  </div>

  <div class="br-header-right">
    <nav class="nav">
      <div class="dropdown">
        <a href="" class="nav-link nav-link-profile  with-sub" data-toggle="dropdown"><strong>
          <span class="logged-name hidden-md-down">{{user.get_full_name}}</span>
          <span class="treeview-indicator fa fa-angle-down"></span></strong>
        </a>
        <div class="dropdown-menu dropdown-menu-header wd-250">
          <div class="">
            <h6 class="logged-fullname">{{user.username}}</h6>
            <p>{{ user.email }}</p>
          </div>
          <hr>
          <ul class="list-unstyled user-profile-nav">
            <li><a href="/profile"><i class="icon ion-ios-person"></i> Edit Profile</a></li>

            <li><a href="/logout"><i class="icon ion-power"></i> Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>